[submodule "speech-processing"]
	path = speech-processing
	url = git@github.com:robbowland/speech-processing.git
[submodule "functional-programming"]
	path = functional-programming
	url = git@github.com:robbowland/functional-programming.git
[submodule "internet-of-things"]
	path = internet-of-things
	url = git@github.com:robbowland/internet-of-things.git
[submodule "text-processing"]
	path = text-processing
	url = git@github.com:robbowland/text-processing.git
